body{
  position: absolute;
  background-color:#4f4f4f;
  font-family: 'Roboto', sans-serif;
}


.form{
  border: 1px solid #fff;
  width: 400px;
  height: 400px;
  background-color:#4f4f4f;
  margin-top: 20px;
  position: relative;
  top: 200px;
  left: 430px;
}

.form-title{
  width: 240px;
  position: relative;
  top: 30px;
  left: 60px;
  padding: 30px 20px;
  border-radius: 30px;
  box-shadow:inset 0px 0px 30px 0px rgba(50, 50, 53, 0.95);
  text-align: center;
  color: #fff;
}


.inputs{
  position: relative;
  top:20px;
  float: left;
  width: 100px;
  left:75px;
}

.input-main__phone{
  position: absolute;
  top: 70px;
}

#names{
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background-color: #4f4f4f;
  padding-left: 50px;
}


#number{
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background-color: #4f4f4f;
  padding-left: 50px;
}

.input-logo{
  position: relative;
  top: 49px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

}


.input-logo__phone{
  position: relative;
  top: 49px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

}

.button{
position: absolute;
top: 305px;
right: 66px;
width: 250px;
height: 44px;
border-radius: 22px;
background-color: #0190cb;
color: #fff;
}

/*Вторая форма*/
.form-first{
  border: 1px solid #fff;
  width: 400px;
  height: 400px;
  background-color:#4f4f4f;
  margin-top: 20px;
  position: absolute;
  top:200px;
  left: 10px;
}

.form-title__first{
  width: 350px;
  height: 80px;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;


}
.attantion{
  font-size: 2.5rem;
  margin-left: 10px;
}

#names-first{
  width: 297px;
  height: 50px;
  border-radius: 30px;
  background-color: #4f4f4f;
  padding-left: 50px;
  margin-left: 20px;
  margin-top: 20px;
  color: #fff;
  font-size: 1.2rem;

}

#names-first:focus{
  border:1px solid #2caf64;
}
#names-first::placeholder{
  color: #fff;
  padding-left: 85px;
}

#number-first{
  width: 297px;
  height: 50px;
  border-radius: 30px;
  background-color: #4f4f4f;
  padding-left: 50px;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-size: 1.2rem;
}

#number-first::placeholder{
  color: #fff;
  padding-left: 30px;
}

#mail{
  width: 297px;
  height: 50px;
  border-radius: 30px;
  background-color: #4f4f4f;
  padding-left: 50px;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
  font-size: 1.2rem;
}

#mail::placeholder{
  color: #fff;
  padding-left: 30px;
}

.button__first{
  width: 350px;
  height: 60px;
  border-radius: 40px;
  background-color: #2caf64;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
}

 /*Третья форма*/
.form-second{
  border: 1px solid #fff;
  width:500px;
  height: 350px;
  background-color:#1bbc9b;
  margin-top: 20px;
  position: absolute;
  top:200px;
  left: 850px;
}

.image{
  width: 100px;
  height: 100px;
}


.triangle {
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 12px solid red;
	border-bottom: 13px solid transparent;
}

